/* Resets */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {

  --cream: hsl(30, 38%, 92%);
  --darkCyan: hsl(158, 36%, 37%);
  --darkCyanHover: hsl(156, 42%, 18%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGreyishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%)
}

/* Utility Classes */

.bg-cream {
  background-color: var(--cream);
}

.color-cream {
  color: var(--cream)
}

.bg-dark-cyan {
  background-color: var(--darkCyan);
}

.color-dark-cyan {
  color: var(--darkCyan)
}

.bg-very-dark-blue {
  background-color: var(--veryDarkBlue);
}

.color-very-dark-blue {
  color: var(--veryDarkBlue)
}

.bg-dark-greyish-blue {
  background-color: var(--darkGreyishBlue);
}

.color-dark-greyish-blue {
  color: var(--darkGreyishBlue)
}

.bg-white {
  background-color: var(--white);
}

.color-white {
  color: var(--white)
}

.uppercase {
  text-transform: uppercase;
}

.strike-through {
  text-decoration: line-through
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.fs-large {
  font-size: 32px;
}


/* Typography */

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

/* Custom Styling */

body {
  background-color: var(--cream);

}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

button.order-button {
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  width: 235px;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
  cursor: pointer;
  ;
}

button.order-button:hover {
  background-color: var(--darkCyanHover);
}

.info-heading {
  line-height: 1.1;
}

.attribution {
  position: absolute;
  bottom: 0;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
}

.product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 15px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

#productCard {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

#productImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#productInfo {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 25px;
}



/* Media Queries */

@media (max-width: 767px) {

  .container {
    width: 345px;
  }

  #productCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #productImage {
    background-image: url(../images/image-product-mobile.jpg);
    height: 240px;
    width: 100%;
  }

  #productInfo {
    width: 100%;
    row-gap: 15px;
    padding: 25px;
  }

}

@media (min-width: 768px) {

  .container {
    width: 600px;
  }

  #productCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #productImage {
    height: 350px;
    background-image: url(../images/image-product-mobile.jpg);
  }

}

@media (min-width: 992px) {

  .container {
    width: 900px;
  }

  #productCard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #productImage {
    background-image: url(../images/image-product-desktop.jpg);
    height: auto;
    width: 50%
  }

  #productInfo {
    width: 50%;
  }
}

@media (min-width: 1200px) {

  .container {
    width: 600px;
  }
}