/* Resets */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {

  --cream: hsl(30, 38%, 92%);
  --darkCyan: hsl(158, 36%, 37%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGreyishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%)
}

/* Utility Classes */

.bg-cream {
  background-color: var(--cream);
}

.color-cream {
  color: var(--cream)
}

.bg-dark-cyan {
  background-color: var(--darkCyan);
}

.color-dark-cyan {
  color: var(--darkCyan)
}

.bg-very-dark-blue {
  background-color: var(--veryDarkBlue);
}

.color-very-dark-blue {
  color: var(--veryDarkBlue)
}

.bg-dark-greyish-blue {
  background-color: var(--darkGreyishBlue);
}

.color-dark-greyish-blue {
  color: var(--darkGreyishBlue)
}

.bg-white {
  background-color: var(--white);
}

.color-white {
  color: var(--white)
}


/* Typography */

body {
  font-family: 'Montserrat';
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: Fraunces;
  font-weight: 700;
}

/* Custom Styling */

body {
  background-color: var(--cream);

}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.attribution {
  position: absolute;
  bottom: 0;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
}

#productCard {
  margin: auto;
}

#productImage {
  background-image: url(../images/image-product-desktop.jpg);
  display: block;
  height: 100%;
  width: 300px
}

/* Media Queries */

@media (max-width: 767px) {

  .container {
    width: 85%;
  }

}

@media (min-width: 768px) {

  .container {
    width: 600px;
  }
}

@media (min-width: 992px) {

  .container {
    width: 900px;
  }
}

@media (min-width: 1200px) {

  .container {
    width: 600px;
  }
}